* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Dark Blue Top */
.awesome {
    background-color: #1F2937;
    padding: 100px auto;
}

.logo, .title{
    color: #F9FAF8;
    font-family: sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #94969e;
}

li {
    list-style-type: none;
    font-family: sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.nav {
    width: 25%;
}

ul {
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    display: inline-block;
}
.random-info {
    color: #1F2937;
}

.awesome-pic {
    display: flex;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}

.awesome-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
   font-size: 48px;
   font-weight: bolder; 
}

.subtext {
    font-size: 18px;
    color: #94969e;
}

button {
   background-color: #3882F6; 
   color: #F9FAF8;
   border-radius: 8px;
   width: 150px;
   justify-content: center;
}

/* Random Information Section */
.pics {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

figure img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}
/* Gray Quote Section */
.quote {
    background-color: #94969e;
}

.words {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
}

.bottom {
    background-color: #1F2937;
    color: #E5E7EB;
}